version: 2.1
orbs:
  ruby: circleci/ruby@1.1.4
  node: circleci/node@4.7.0
  aws-ecr: circleci/aws-ecr@7.2.0
  slack: circleci/slack@4.4.4

jobs:
  build-deps:
    docker:
      - image: cimg/ruby:3.0.0-node
    steps:
      - run:
          command: find . -type d
      - persist_to_workspace:
          root: workspace
          paths:
            - .
      - run:
          command: find . -type d
      - checkout

      - run:
          name: Which bundler?
          command: bundle -v
      - ruby/install-deps

      - run:
          name: Which yarn?
          command: yarn -v
      - node/install-packages:
          pkg-manager: yarn

  build-image:
    docker:
      - image: cimg/base:2021.04
    steps:
      - run:
            command: find . -type d
      - attach_workspace:
          at: workspace
      - run:
          command: find . -type d
      - aws-ecr/build-and-push-image:
          checkout: false
          repo: $ENVIRONMENT-$SITE-snt-apps
          #remote-docker-layer-caching: true
          setup-remote-docker: yes
          tag: ${CIRCLE_BUILD_NUM}-${CIRCLE_SHA1}${CIRCLE_TAG}

  test:
    docker:
      - image: cimg/ruby:3.0.0
    steps:
      - attach_workspace:
          at: workspace
      - ruby/rspec-test

  notify:
    docker:
      - image: cimg/base:2021.04
    steps:
      - slack/notify:
          channel: cicd

workflows:
  develop:
    jobs:
      - build-deps
      - build-image:
          requires:
            - build-deps
      - test:
          requires:
            - build-deps